<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}
            {#{{ encore_entry_link_tags('app') }}#}
        {% endblock %}

        {% block javascripts %}
            {#{{ encore_entry_script_tags('app') }}#}
        {% endblock %}
    </head>
    <body>
      <header>
    {% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
        <h3>Вы авторизованы, как: {{ app.user.login }}</h3>
    {% endif %}
    <nav>
        <a href="/">Главная</a>
        {% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
            <a href="/logout">Выйти</a>
        {% else %}
            <a href="/login">Войти</a>
        {% endif %}
    </nav>
</header>
{% block body %}{% endblock %}
{% block footerjs %}{% endblock %}
</body>
</html>
